
    <div id="footer">
      <div class="container">
        <p>&copy;2016  <a href="http://savageartscouncil.org">Savage Arts Council</a> &middot; <a href="mailto:info@savageartscouncil.org">Contact Us</a></p>
      </div>
    </div>
<!--
    <div id="facebookTab">
      <iframe class="facebook-iframe" src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottcountyartcrawl&amp;width&amp;layout=button&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>
-->
