
    <meta charset="utf-8">
    <title>{{page.title}} - {{ site.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="{{page.meta}} - {{site.description}}">
    <meta name="author" content="Savage Arts Council">
    <meta property="og:image" content="/assets/images/fb-scr.png" />
    <meta property="og:url" content="https://savageartscouncil.org" />
    <meta property="og:description" content="{{page.meta}} - {{site.description}}" />
    <meta property="og:title" content="{{page.title}}  {{ site.name }}" />
    <link rel="shortcut icon" href="/sites/default/files/SavageArtsCulturalCenter_SQ_0.png" type="image/png">
    <link rel="icon" href="/sites/default/files/SavageArtsCulturalCenter_SQ_0.png" type="image/png">
    <link rel="apple-touch-icon-precomposed" href="/sites/default/files/SavageArtsCulturalCenter_SQ_0.png" />
    <link href="/assets/css/style.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 9]>
      <script src="/assets/js/html5shiv.min.js"></script>
      <script src="/assets/js/respond.min.js"></script>
      <link href="/assets/css/ie9-and-down.css?svn=2014-08-03_745" rel="stylesheet">
    <![endif]-->
