
    <meta charset="utf-8">
    <title>{{page.title}} - {{ site.name }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="description" content="{{page.meta}} - {{site.description}}">
    <meta name="author" content="Savage Arts Council">
    <meta property="og:image" content="https://scottcountyartcrawl.org/assets/images/SCAC-Logo-og.png" />
    <meta property="og:url" content="https://scottcountyartcrawl.org" />
    <meta property="og:description" content="{{page.meta}} - {{site.description}}" />
    <meta property="og:title" content="{{page.title}}  {{ site.name }}" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="/assets/images/favicon.png" />
    <link href="/assets/css/styles.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lte IE 9]>
      <script src="/assets/js/html5shiv.min.js"></script>
      <script src="/assets/js/respond.min.js"></script>
      <link href="/assets/css/ie9-and-down.css?svn=2014-08-03_745" rel="stylesheet">
    <![endif]-->
