/*Internet Explorer 9 and Under - the handholding file*/
.navbar-brand.artcrawl-brand {
  height:50px;
  width:150px;
  background: url(/assets/images/SCAC-Logo-2015-web.ie.png) no-repeat 10px 8px;
  padding:0;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: #4794a2;
  color: #fff;
}
.jumbotron {
  background-color: #4794a2;
}
 
#footer {
  background:transparent;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DEd78a36,endColorstr=#DEd78a36); 
  zoom: 1;
  z-index: 200;
}