//SAC Colors:
$sac-blue: #797ebe;
$sac-purple: #a0078d;
$sac-red: #e4082d;
$sac-yellow: #f6c12f;
$sac-teal: rgb(0,112,131);
$sac-green: #4c873c;

$sac-blue-rgba: rgba(121,126,190,0.90);
$sac-purple-rgba: rgba(160,7,141,0.90);
$sac-yellow-rgba: rgba(247,194,10,0.90);
$sac-teal-rgba: rgba(0,112,131,0.90);
$sac-green-rgba: rgba(76,135,60,0.90);