
html {
  position: relative;
  min-height: 100%;
}
.html.savage-arts-council-site {
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size:18px;
  padding-bottom: 90px;
  padding-top:70px;
  &.front {
    padding-top:50px;
  }
  a, .navbar-default .artcrawl-navbar-home.navbar-nav>li>a {
    color:$sac-blue;
  }
  a:hover, .navbar-default .artcrawl-navbar-home.navbar-nav>li>a:hover {
    color:$sac-purple;
  }
  .btn.btn-primary, .btn.btn-primary:hover {
    color:#fff;
  }
  h1,h2,h3,h4,h5,h6 {
    color:#777;
    font-weight:300;
  }
  .region.region-content {
    a {
      text-decoration: underline;
      &.btn {
        text-decoration: none;
      }
    }
    a:hover {
      text-decoration: none;
    }
  }
}