@media all and (max-width:767px) {
  .savage-arts-council-site {
    
    .jumbotron {
      
      section {
        img {
          max-width: 75%;
          margin: 10% auto;
          display:block;
        }
      }
    }    
    #footer {
      height: 45px;
      p {
        margin: 12px 0 0 0;
        font-size: 15px;
      }
    }
    .artist-directory {
      figure {
        margin:15px auto 0;
        max-width:200px;
        max-height:none;
        > img {
          max-width:100% !important;
          max-height:none!important;
        }
      }
    }
    .in-content-image {
      width:35%;
    }
  }
}
@media all and (min-width:415px) and (max-width:767px) {
  .savage-arts-council-site {
    
    .jumbotron {
      
      section {
        
        > div {
          //width:60%;
        }
        > div + div {
          //width:40%;
          img {
            margin: 5% auto;
          }
        }
        img {
          max-width: 55%;
        }
      }
    }
  }
}
